fiftyone
imagesize
opencv-python
Pillow
chess
tqdm
ultralytics
decord
requests
websockets
torch
nncf
berserk
onnx_tf
onnx
icecream
PyYAML
Shapely
dill
thop
psutil
matplotlib
build
wandb
scipy
future
loguru
pandas
torchvision
numba
seaborn
numpy<2
torchmetrics==1.2.0
onnxruntime-gpu==1.18.0